* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.grow {
  flex: 1 0;
  min-height: 0;
}
.spacer {
  flex: 1;
}

.title-bar button {
  margin: 6px;
  padding: 0 6px;
  font-size: 1em;
}
.title-bar button + button {
  margin-left: 0;
}

#date {
  /* position: absolute; */
  /* font-size: 2em; */
  margin: auto 1rem;
}

/* #vis {
  width: 50%;
} */
