* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 1em;
  /* overflow: hidden; */
}

div {
  flex: 1;
  /* margin: 1em; */
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

#date {
  /* position: absolute; */
  margin: 0;
  text-align: center;
}

/* #vis {
  width: 50%;
} */
